.container {
     width: 600px;
     margin: auto;
     background-color: white;
     padding: 10px;
}

.result {
    font-weight: bold;
    font-size: xx-large;
    border: solid gray 1px;
    padding: 10px;
    margin: 10px;
}

.warning {
    color: red;
}

.siteLink {
    color: gray;
    font-size: large;
}